<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities" href="/tabs/activities">
      <ion-icon aria-hidden="true" name="list-sharp"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart-sharp"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
