:root {
  --ion-font-family: 'Inter', system-ui, sans-serif;

  --ion-background-color: #f8fafc;
  --ion-text-color: #0f172a;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;

  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #0f172a;

  --ion-color-primary: #3b82f6;
  --ion-color-success: #22c55e;
  --ion-color-danger: #ef4444;
  --ion-color-medium: #64748b;

}



body {
  color: var(--ion-text-color);
}

h1, h2, h3 {
  color: var(--ion-text-color);
}

p {
  color: var(--ion-color-medium);
}
