<ion-content fullscreen class="ion-padding login-page">
  <div class="login-container">
    <div class="header">
      <h1>SPORTIVA</h1>
      <h2>Create account</h2>
      <p>Start tracking your sports activities</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item fill="outline">
        <ion-input type="text" placeholder="Name" formControlName="name">
        </ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-input type="email" placeholder="Email" formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        >
        </ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        >
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="form.invalid || loading"
      >
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Create account</span>
      </ion-button>
    </form>

    <div class="footer">
      <p>
        Already have an account?
        <a (click)="goToLogin()">Login</a>
      </p>
    </div>
  </div>
</ion-content>
