.intro-page {
  --background: var(--ion-background-color);
}

.intro-swiper {
  height: 100%;
}

.slide {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    opacity: 0.75;
    margin-bottom: 2rem;
  }

  ion-button {
    margin-top: 1rem;
    height: 48px;
    font-weight: 600;
  }

  .skip {
    margin-top: 1rem;
    background: none;
    border: none;
    color: var(--ion-color-medium);
    font-size: 0.9rem;
  }
}
