/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

body.dark {
  --ion-background-color: #0f172a;
  --ion-text-color: #e5e7eb;

  --ion-card-background: #020617;
  --ion-item-background: transparent;

  --ion-toolbar-background: #020617;
  --ion-toolbar-color: #e5e7eb;

  --ion-color-primary: #60a5fa;
  --ion-color-success: #4ade80;
  --ion-color-danger: #f87171;
  --ion-color-medium: #94a3b8;

  --ion-border-color: #1e293b;
}



ion-toolbar {
  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  
}

/* TOAST */
.delete-toast {
  --background: var(--ion-color-danger);
  --color: #fff;
  --border-radius: 12px;
  font-weight: 600;
}

.activity-filter {
  margin-top: 16px;
  margin-bottom: 16px;

  --background: var(--ion-card-background);
  --border-radius: 14px;
  --padding: 5px;

  --indicator-color: var(--ion-text-color);
  --indicator-border-radius: 10px;

  ion-segment-button {
    font-weight: 500;
    text-transform: uppercase;
  }

}

