<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label>
      <h2>Dark mode</h2>
      <p>Reduce eye strain</p>
    </ion-label>

    <ion-toggle
      slot="end"
      [checked]="darkMode"
      (ionChange)="toggleTheme($event)">
    </ion-toggle>

  </ion-item>

  <!-- LOGOUT -->
  <ion-item lines="none">
    <ion-button
      expand="block"
      color="danger"
      (click)="logout()">
      Logout
    </ion-button>
  </ion-item>
</ion-content>
